



.gpt > div {
  display: flex;
}

.gpt .query, .gpt .response {
  width: 50%;
  position: relative;
  text-align: left;
  font-size: 0.8em;
  overflow-y: scroll;
  max-height: 100vh;
  padding: 1em 1em 1em 2em;
}


.gpt .query{
    border-left:8px solid #7c7c7c;
    line-height:1.6;
}


.gpt .query::before{
    font-family:Arial;
    content: "\201C";
    color: #7c7c7c;
    font-size:4em;
    position: absolute;
    left: 0;
    top:-30px;
}

blockquote::after{
    content: '';
}

.gpt .response {
  background-color: #F5F5F5;

}



.gpt-image {
    width: 1.5em;
    height: auto;
    position: absolute;
    left: 5px;
}

