body {
  opacity: 0;
}

body.appear {
  opacity: 1;
}

p.small {
    font-size: 0.5em;
}

[data-title-slide] {
    --r-heading-color: white;
    max-width: 87%;
}
[data-title-slide] p {
    color: var(--r-heading-color);
}
