body {
    opacity: 0;
    font-family: 'Adobe Clean';
}

body.appear {
    opacity: 1;
}

span.small {
    font-size: 0.5em;
}

span.topic {
    color: #eb1000;
    font-family: 'Adobe Clean Light';
}

[data-title-slide] {
    --r-heading-color: white;
    max-width: 86%;
}

.reveal [data-last-slide] a {
    --r-link-color: #eb1000;
    --r-link-color-hover: #d57e77;
}
